# Logs
*.log

# Grunt intermediate storage
.grunt

# Dependency directory
node_modules

# Optional npm cache directory
.npm

#Bower components
dev/bower_components

#Dist folder
dist

.DS_Store
.sass-cache
