.hidden-element {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.visibile-element {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

div.metric-box {
  width: 50%;
  height: 5rem;
}
div.metric-box span {
  display: block;
}
div.metric-box span.number {
  font-weight: 100;
  z-index: 1;
  position: relative;
  font-size: 1.2rem;
  height: 4rem;
}
div.metric-box span.number:before, div.metric-box span.number:after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}
div.metric-box span.description {
  font-size: 0.8rem;
  color: #000000;
  text-transform: capitalize;
}
div.metric-box .arrow-body, div.metric-box.up span.number:after, div.metric-box.down span.number:before, div.metric-box.right span.number:before {
  height: 25px;
  width: 25px;
  margin: 0 auto;
}
div.metric-box .arrow-up-down, div.metric-box.up span.number:before, div.metric-box.down span.number:after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
div.metric-box.up span.number {
  color: #ffffff;
  padding-bottom: 0.3rem;
}
div.metric-box.up span.number:before {
  border-bottom: 30px solid #548039;
  top: 0.6rem;
}
div.metric-box.up span.number:after {
  background-color: #548039;
  top: -0.6rem;
}
div.metric-box.down span.number {
  color: #ffffff;
  padding-bottom: 0.3rem;
}
div.metric-box.down span.number:before {
  background-color: #be0712;
  top: 0.6rem;
}
div.metric-box.down span.number:after {
  border-top: 30px solid #be0712;
  top: -0.6rem;
}
div.metric-box.right span.number {
  color: #000000;
}
div.metric-box.right span.number:before, div.metric-box.right span.number:after {
  margin: 0;
}
div.metric-box.right span.number:before {
  margin: 0 auto;
  background-color: #fed86e;
  top: 1.3rem;
  margin-right: 50%;
}
div.metric-box.right span.number:after {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #fed86e;
  top: -2.3rem;
  margin-left: 50%;
}
