.hidden-element, .tone-tests-result div.perc, .tone-tests-result div.bar div.content {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.visibile-element, .tone-tests-result.tone-loaded div.perc, .tone-tests-result.tone-loaded div.bar div.content {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.tone-tests-result {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tone-tests-result div.chart-container {
  position: relative;
  -moz-transform: rotate(60deg) translate3d(0, 0, 0);
  -ms-transform: rotate(60deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(60deg) translate3d(0, 0, 0);
  transform: rotate(60deg) translate3d(0, 0, 0);
  width: 92px;
  height: 92px;
}
.tone-tests-result div.chart-container div.tooltip {
  font-size: 0.7rem;
  color: #000000;
  position: absolute;
  -moz-transform: rotate(-60deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-60deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(-60deg) translate3d(0, 0, 0);
  transform: rotate(-60deg) translate3d(0, 0, 0);
}
.tone-tests-result div.perc {
  -moz-transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  -o-transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  -webkit-transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  width: 50%;
  margin: auto;
  font-size: 2.5rem;
  font-weight: 100;
}
.tone-tests-result div.perc span {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  color: #000000;
  letter-spacing: 0;
  font-weight: 500;
}
.tone-tests-result div.bar {
  width: 90%;
  height: 2rem;
  background-color: #f6cbae;
  margin: auto;
  position: relative;
}
.tone-tests-result div.bar div.content {
  -moz-transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  -o-transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  -webkit-transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  transition: visibility 1.5s ease-in, opacity 1.5s ease-in;
  height: 2rem;
  position: relative;
  top: -2rem;
  padding-top: 0.1rem;
}
.tone-tests-result div.bar div.content span {
  width: 100%;
  display: block;
  color: #000000;
  font-size: 0.8rem;
}
.tone-tests-result div.bar div.progress {
  height: 2rem;
  width: 0;
  background-color: #c6dfb5;
  -moz-transition: width 1.5s;
  -o-transition: width 1.5s;
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
}
