.hidden-element {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.visibile-element {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.step-state {
  width: 8%;
  height: 2rem;
  border: 2px solid #c4c4c4;
  background-color: #d8d8d8;
  margin: 0 auto;
}
.step-state div {
  -moz-transition: width 0.75s linear, background 1.95s ease-in;
  -o-transition: width 0.75s linear, background 1.95s ease-in;
  -webkit-transition: width 0.75s linear, background 1.95s ease-in;
  transition: width 0.75s linear, background 1.95s ease-in;
  height: 2rem;
}
.step-state.rejected div {
  background-color: #be0712;
}
.step-state.complete div {
  background-color: #548039;
}
.step-state.pending div {
  background-color: transparent;
}
.step-state.running div {
  background-color: #5e9cd3;
}
