.hidden-element {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.visibile-element {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.tone-pop-over {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: -10px;
  min-width: 210px;
  min-height: 100px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  -moz-box-shadow: #c5c5c5 4px 4px 8px;
  -webkit-box-shadow: #c5c5c5 4px 4px 8px;
  box-shadow: #c5c5c5 4px 4px 8px;
  font-family: sans-serif;
}
.tone-pop-over.ng-hide-add, .tone-pop-over.ng-hide-remove {
  -moz-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.tone-pop-over.ng-hide {
  opacity: 0;
  visibility: hidden;
}
.tone-pop-over:before, .tone-pop-over:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 8px;
  border: 7px outset transparent;
}
.tone-pop-over:before {
  border-right: 7px solid #555;
  left: -15px;
}
.tone-pop-over:after {
  border-right: 7px solid #ffffff;
  left: -14px;
}
.tone-pop-over h6 {
  width: 100%;
  text-align: left;
  padding: 0.5rem 0.5rem;
}
.tone-pop-over .tone-pop-over-body {
  color: #c5c5c5;
  font-style: italic;
  font-size: 0.9rem;
  text-align: left;
  padding-left: 0.6rem;
  font-weight: 100;
}
